@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
.body {
  background-color: #002E48;
  margin: 0;
  font-family: $ff;
  font-size: 20px;
  color: #00507C;
}
.page {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.page-content {
  background: url("../../assets/img/form-f.png") no-repeat;
  background-size: cover;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{

  display: flex;
  justify-content: center;
  flex-direction: column;

}
.page-content-h2{
  font-size: 52px;
  font-weight: bold;
  margin-top: 104px;
;
}
.form-image-h2 {
  color: $color-text-1;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}
.form-image{
  background: url("../../assets/img/form-image.png") no-repeat;
  width: 600px;
  height: 800px;
  display: flex;
  justify-content: center;
  padding-top: 110px;
}
.form-input {
  background-color: white;
  margin-bottom: 24px;
  border-radius: 48px;
  padding: 24px 25px 24px 32px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.input{
  border: none;
  color: #00507C;
  font-size: 20px;
  font-family: $ff;
  background-color: white;
  margin-left: 8px;
}
::-webkit-input-placeholder {color:#00507C; }
.form-btn {
  background-color: #00507C;
  padding: 20px 37px 20px 37px;
  border-radius: 48px;
  color: #FFFFFF;
  max-width: 265px;
  margin: 0 auto;
  font-size: 20px;
}
.input-img {
  width: 24px;
  height: 24px;
}
.a-decoration{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.form-checkbox {
  margin: 0px auto;
  padding-bottom: 40px;
}
.sing-in-margin {
  margin-top: 20px;
}
input:focus-visible {
  outline: none;
}
.label {
  display: flex;
}
input[type="radio"] {
  color: #00507C;
}